<h3>Group Detail</h3>
<table class= "table">
  <thead>
    <tr>
      <th></th>
      <th>グループ名</th>
      <th>紹介文</th>
      <th>メンバー</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= attachment_image_tag @group, :image ,:fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"  %></td>
      <td><%=link_to @group.name, group_path(@group) %></td>
      <td><%= @group.introduction %></td>
      <td><%= @group_owner.name %></td>
      <td><%=link_to "Join this group" ,class:"btn btn-info" %></td>
    </tr>
  </tbody>
</table>