
<div class ="container px-5 px-sm-0">

  <div class="row">

    <%= render'list',user:@user,book:@book %>

    <div class ="col-md-8 offset-md-1">

  　　<div id="userbooks">
        <%=render 'users/userbooks' , user_books:@user_books %>
  　　</div>

      <%#= render 'users/book_counts' %>

      <%#= render 'users/week_book_counts'%>

      <%#= render 'users/graph' %>
      <div>
        <%= form_with url: user_search_path(@user) , method: :get , remote: true do |f| %>
          <%= f.date_field :created_at , class: 'form-control' %>
          <%= f.submit "検索する" %>
        <% end %>
      </div>

        <div id="search">

             <%= render 'users/count_search', book_counts:@book_counts %>

        </div>

    </div>
  </div>
</div>
